# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# MacOS
.DS_Store

# Build
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Android
*.iml
.gradle/
local.properties
android/build/

# iOS
ios/Pods/
ios/.build/
.swiftpm/
*.xcworkspace
xcuserdata/
DerivedData/

# Package managers
package-lock.json
yarn.lock
